.catalogue{
    display: flex;
    background-color: white;
    justify-content: space-around;
    margin-top:10px;
}
.title{
    margin-top:46px;
    margin-bottom: 30px;

}

li{
    margin-top: 30px;
    font-weight: 400;
}

ul{
    font-weight:600;
}