.header_a{
    display: flex;
    align-items: center;
    text-align: start;
    font-size: 13px;
    text-decoration: none;
    
    img{
    margin-top: 2px;
    height: 46px;
    margin-left: 50px;
    margin-right: 57px;
}
}


.container{
    width: 60%;
}

a{
    margin-right: 20px;
    text-decoration: none;
}

@media (max-width: 768px) {
    .header_a {
    font-size: 7px;}
}