.header_a {
    display: flex;
    align-items: center;
    text-align: start;
    font-size: 13px;
    text-decoration: none;

    a {
        color: #000000;
    }

    img {
        margin-top: 5px;
        height: 60px;
        margin-left: 55px;
        margin-right: 60px;
    }

    .head_pic {
        display: flex;
        margin-top: 10px;
        padding: 0;

        img {
            height: 20px;
            margin: 7px;
        }
    }
}


.container {
    width: 60%;
    margin-top: 8px;

    a{
        margin: 40px;
    }
}

a {
    margin-right: 20px;
    text-decoration: none;
}

@media (max-width: 768px) {
    .header_a {
        font-size: 7px;

    .head_pic {
        position: absolute;
        top: 3vh;
        display: flex;
        margin-top: 10px;
        padding: 0;
        left: 36vh;
    }

    .head_pic img {
        height: 14px;
        margin: 0px;
    }

}
.header_a img {
    margin-top: 5px;
height: 60px;
margin-left: 86px;
margin-right: 60px;
}

    .container {
        display: flex;
        width: 60%;
        margin-top: 8px;
        flex-direction: column;
        position: absolute;
    }

    .container a {
        margin: 2px;
    }
}

// a::after {
//     display: block;
//     content: "";
//     background-color: #07aa19;
//     height: 3px;
//     width: 0%;
//     left: 50%;
//     position: absolute;
//     -webkit-transition: width .3s ease-in-out;
//     -moz--transition: width .3s ease-in-out;
//     transition: width .3s ease-in-out;
//     -webkit-transform: translateX(-50%);
//     -moz-transform: translateX(-50%);
//     transform: translateX(-50%);
// }

// a:hover:after,
// .link-hover-center a:focus:after {
//     width: 20%;
// }