.footer{
    background-image: url('../assets/footer_fon.png');
    height: 500px;
}
#phone_icon{
list-style-image: url('../assets/phone_icons.png');
    height:20.67px;
}

#email_icon{
    list-style-image: url('../assets/email_icons.png');
    height:15px;

    }

    #location_icon{
        list-style-image: url('../assets/location_icons.png');
        height:20px;

        }

#one{
    padding-top:181px;
    font-size: 27px;

}

#two{
    font-size: 30px;
    color: white;
}

#three{
    font-size: 16px;
}

.contacts{
    padding-bottom:30px;
    background-color: rgba(89, 97, 163, 1);
    display: flex;
    padding-top:25px;
    justify-content: space-around;
    color:white;
    padding-top:39px;
    li{
        margin:10px;
    // padding-left: 6px;
    text-align: start;
}
}

ul{
    text-align: start;
  list-style-type: none;
}




h4{
    text-align: start;
    margin:0;
    padding:0;
    // margin-bottom: 40px;
    padding-left:45px;
}


.line{
    border-bottom: 4px solid rgba(0, 0, 0, 0.3);
    width: 648px;
    // height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    }

    .container{
        background-color: rgba(89, 97, 163, 1);
        // margin-bottom: 30px;

    }