input, button{
    background: transparent;
    border:none;
    border-radius: 3px;
    font-size:15px;
    margin-bottom: 4px;
    outline: 0 !important;
    
    
    input[type="text" i] {
        padding:0;
    }
    }
    p{margin:0;}


    .input_login{
        display: block;
        font-weight: 600;
        color:rgba(98, 107, 191, 1);
        margin-top: 28px;
    
        p{
            margin-bottom: 14px;
            margin-left:54px;
        }
        img{
            margin-left:64px;
            margin-right:6px;
        }
    }
        .line{
            border-bottom: 1px solid rgba(105, 105, 105, 1);
            width: 375px;
            margin-bottom: 17px;
            margin-left:62px;
            }
            .login_button{
                width: 386px;
                height: 52px;
                background: linear-gradient(91.74deg, #7E8DF2 23.76%, #8ABAFF 66.55%, #AB9DFF 104.82%);
                border-radius: 100px;
                font-size: 15px;
                color: white;
                margin: 0px 54px;
                margin-top: 24px;
                font-family: 'Montserrat', sans-serif;
            }
            .email_icon{
                height: 15px;
                width: 18px;
            }  
.email_button{
    margin-bottom: 41px;
}

@media (max-width: 768px) {
    .login_button{ 
    width: 80%;
    height: 52px;
    background: linear-gradient(91.74deg, #7E8DF2 23.76%, #8ABAFF 66.55%, #AB9DFF 104.82%);
    border-radius: 100px;
    font-size: 15px;
    color: white;
    margin: 0px 34px;
    margin-top: 24px;
    font-family: "Montserrat", sans-serif;
    }

    .line {
        width: 60%;
    }

}